<?php
/**
 * @var $this Mzentrale_Widget_Block_Teaser_Image_Double
 */
?>
<div class="<?php echo $this->getColumnCssClass()?>">
    <?php if ($this->getButtonLink('button_link1')): ?>
    <a href="<?php echo $this->getButtonLink('button_link1')?>" title="<?php echo $this->getAltText('alt_text1')?>">
    <?php endif; ?>
        <picture>
            <source srcset="<?php echo $this->getImageUrl('image1')?>" media="(min-width: 768px)">
            <img src="<?php echo $this->getMobileImageUrl('mobile_image1')?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
        </picture>
    <?php if ($this->getButtonLink('button_link1')): ?>
    </a>
    <?php endif; ?>
    <?php if ($this->getButtonLink('button_link2')): ?>
    <a href="<?php echo $this->getButtonLink('button_link2')?>" title="<?php echo $this->getAltText('alt_text2')?>">
    <?php endif; ?>
        <picture>
            <source srcset="<?php echo $this->getImageUrl('image2')?>" media="(min-width: 768px)">
            <img src="<?php echo $this->getMobileImageUrl('mobile_image2')?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
        </picture>
    <?php if ($this->getButtonLink('button_link2')): ?>
    </a>
    <?php endif; ?>
</div>
