<?php
/**
 * @var $this Mzentrale_Widget_Block_Slider_Slide_Action
 */
?>
<div class="item">
    <a href="<?php echo $this->getButtonLink() ?>">
        <picture>
            <source srcset="<?php echo $this->getImageUrl()?>" media="(min-width: 768px)">
            <img src="<?php echo $this->getMobileImageUrl()?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
        </picture>
    </a>
    <div class="slider-content action">
        <div class="circle" style="<?php echo $this->getContentContainerCssClass()?>">
            <p>
                <span><?php echo $this->__('Online code')?></span>
                <span><?php echo $this->getPromoCode()?></span>
            </p>
        </div>
    </div>
    <div class="smalltext" style="background-color: <?php echo $this->getSmallTextBackgroundColor()?>">
        <div>
            <span><?php echo $this->__('Online code')?>: </span><span><?php echo $this->getPromoCode()?></span>
        </div>
        <?php if ($this->getSmallText()): ?>
            <em>*</em> <?php echo $this->getSmallText() ?>
        <?php endif ?>
    </div>
</div>
