<?php
/**
 * @var $this Mzentrale_Widget_Block_Slider_Slide_Default
 */
?>
<div class="item">
    <picture>
        <source srcset="<?php echo $this->getImageUrl()?>" media="(min-width: 768px)">
        <img src="<?php echo $this->getMobileImageUrl()?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
    </picture>
    <div class="slider-content default" style="<?php echo $this->getContentContainerCssClass()?>">
        <div>
            <h1><?php echo $this->getTitle()?></h1>
            <p><?php echo $this->getText()?></p>
            <a class="large important button" href="<?php echo $this->getButtonLink() ?>" title="<?php echo $this->getTitle()?>">
                <?php echo $this->getButtonText()?>
            </a>
        </div>
    </div>
    <?php if ($this->getSmallText()): ?>
        <div class="smalltext" style="background-color: <?php echo $this->getSmallTextBackgroundColor()?>"><em>*</em> <?php echo $this->getSmallText() ?></div>
    <?php endif ?>
</div>
