<?php
/**
 * @var $this Mzentrale_Widget_Block_Slider_Slide_Graphic
 */
?>
<div class="item" data-teaser-identifier="<?php echo $this->getTitle()?>">
    <a href="<?php echo $this->getButtonLink() ?>" title="<?php echo $this->getTitle()?>">
        <picture>
            <source srcset="<?php echo $this->getImageUrl()?>" media="(min-width: 768px)">
            <img src="<?php echo $this->getMobileImageUrl()?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
        </picture>
        <div class="slider-content graphic" style="<?php echo $this->getContentContainerCssClass()?>">
            <div>
                <h1><?php echo $this->getTitle()?></h1>
                <p><?php echo $this->getText()?></p>
            </div>
        </div>
    </a>
    <?php if ($this->getSmallText()): ?>
        <div class="smalltext" style="background-color: <?php echo $this->getSmallTextBackgroundColor()?>"><em>*</em> <?php echo $this->getSmallText() ?></div>
    <?php endif ?>
</div>
