<?php
/**
 * @var $this Mzentrale_Widget_Block_Outfit
 * @var $product Mage_Catalog_Model_Product
 */

$_products = $this->getProducts();

?>
<div class="<?php echo $this->getColumnCssClass()?>">
    <div class="inner-content">
        <a href="<?php echo $this->getButtonLink()?>">
            <picture>
                <source srcset="<?php echo $this->getImageUrl('main_image')?>" media="(min-width: 768px)">
                <img src="<?php echo $this->getMobileImageUrl('main_mobile_image')?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
            </picture>
        </a>
        <div class="products">
            <?php foreach ($this->getProducts() as $product) :?>
                    <a href="<?php echo $product->getProductUrl()?>" title="<?php echo $product->getName() ?>"><h4 class="product-name"><?php echo $product->getCategoryName()?></h4> / <h3 class="product-price"><?php echo Mage::helper('core')->currency($product->getPrice(), true, false)?></h3></a>&nbsp;
            <?php endforeach; ?>
        </div>
        <?php if ($this->getTitle()): ?><h1><?php echo $this->getTitle() ?></h1><?php endif; ?>
        <?php if ($this->getText()): ?><h2><?php echo $this->getText() ?></h2><?php endif; ?>
        <a class="button large important" href="<?php echo $this->getButtonLink()?>"><?php echo $this->getButtonText()?></a>
    </div>
</div>
