<?php
/**
 *
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 * @project orsay
 *
 * @var $this Mzentrale_Widget_Block_Product_Picker
 * @var $product Mage_Catalog_Model_Product
 *
 */

$_helper = Mage::helper('catalog/image');
?>
<div class="product-picker <?php echo $this->getColumnCssClass()?>">
    <?php foreach ($this->getProductCollection() as $product): ?>
        <div class="<?php echo $this->getProductColumnCssClass()?>">
            <img src="<?php echo $_helper->init($product, 'small_image')->setQuality(100)->resize(400)?>" alt="<?php echo $this->stripTags($product->getName())?>" class="img-responsive"/>
            <div class="product-data">
                <?php echo $this->stripTags($product->getName()) ?>
                <?php echo $this->getReviewSummaryHtml($product)?>
                <?php echo $this->getPriceHtml($product) ?>
                <div class="actions">
                    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>"
                            class="button btn-cart"
                            onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($product) ?>')">
                    <span>
                        <span>
                            <?php echo $this->__('Add to Cart') ?>
                        </span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
</div>
