<?php
/**
 *
 * @author Gianluca Zucco <g.zucco@mzentrale.de>
 * @project orsay
 *
 * @var $this Mzentrale_Widget_Block_Product_Teaser
 * @var $product Mage_Catalog_Model_Product
 *
 */

$_helper = Mage::helper('catalog/image');
?>
<div class="product-teaser products-grid <?php echo $this->getColumnCssClass()?>">
    <?php foreach ($this->getProductCollection() as $product): ?>
        <div class="products-grid-item <?php echo $this->getProductColumnCssClass()?>">
            <img src="<?php echo $_helper->init($product, 'small_image')?>" alt="<?php echo $this->stripTags($product->getName())?>"/>
            <?php echo $this->stripTags($product->getName()) ?>
            <?php echo $this->getReviewSummaryHtml($product)?>
            <?php echo $this->getPriceHtml($product) ?>
            <div class="actions">
            <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>"
                        class="button btn-cart"
                        onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($product) ?>')">
                    <span>
                        <span>
                            <?php echo $this->__('Add to Cart') ?>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    <?php endforeach; ?>
</div>
<script type="text/javascript">
    var maxHeight = 0;
    jQuery('.products-grid-item').each(function(index, item) {
        var elementHeight = jQuery(item).height();
        if (elementHeight > maxHeight)  {
            maxHeight = elementHeight;
        }
    });
    if (maxHeight)  {
        jQuery('.products-grid-item').css('height', [maxHeight, 'px'].join(''));
    }
</script>
